.svg-behance {
	background: url(svg/sprite.css-b532c54f.svg) 99.65961457896942% 0 no-repeat;
}

.svg-behance-dims {
	width: 156.848px;
	height: 105.667px;
}

.svg-flickr {
	background: url(svg/sprite.css-b532c54f.svg) 0 0 no-repeat;
}

.svg-flickr-dims {
	width: 228.372px;
	height: 105px;
}

.svg-goDown {
	background: url(svg/sprite.css-b532c54f.svg) 46.10621354180345% 31.018835818779095% no-repeat;
}

.svg-goDown-dims {
	width: 43.313px;
	height: 26.496px;
}

.svg-journey__year {
	background: url(svg/sprite.css-b532c54f.svg) 96.39399325264597% 30.71634753741908% no-repeat;
}

.svg-journey__year-dims {
	width: 48.979px;
	height: 20.991px;
}

.svg-linkedin {
	background: url(svg/sprite.css-b532c54f.svg) 0 40.38461538461539% no-repeat;
}

.svg-linkedin-dims {
	width: 158px;
	height: 105px;
}

.svg-logo_cdm {
	background: url(svg/sprite.css-b532c54f.svg) 78.88388416049519% 34.31660377113388% no-repeat;
}

.svg-logo_cdm-dims {
	width: 96.496px;
	height: 57.082px;
}

.svg-logo_cuc {
	background: url(svg/sprite.css-b532c54f.svg) 0 99.69696020819634% no-repeat;
}

.svg-logo_cuc-dims {
	width: 77.533px;
	height: 77.579px;
}

.svg-logo_dajie {
	background: url(svg/sprite.css-b532c54f.svg) 0 64.02439024390245% no-repeat;
}

.svg-logo_dajie-dims {
	width: 81px;
	height: 37px;
}

.svg-logo_ecd {
	background: url(svg/sprite.css-b532c54f.svg) 74.87606557377049% 49.61859756097561% no-repeat;
}

.svg-logo_ecd-dims {
	width: 81px;
	height: 37px;
}

.svg-logo_fcv {
	background: url(svg/sprite.css-b532c54f.svg) 0 75.894914733446% no-repeat;
}

.svg-logo_fcv-dims {
	width: 80.375px;
	height: 39.55px;
}

.svg-nextStop_block {
	background: url(svg/sprite.css-b532c54f.svg) 96.38112417152723% 36.96446499031075% no-repeat;
}

.svg-nextStop_block-dims {
	width: 48.934px;
	height: 22.352px;
}

.svg-next_btn {
	background: url(svg/sprite.css-b532c54f.svg) 44.92682330394133% 37.64288270235454% no-repeat;
}

.svg-next_btn-dims {
	width: 34.317px;
	height: 15.675px;
}

.svg-sendEmail {
	background: url(svg/sprite.css-b532c54f.svg) 91.1469826557579% 49.253699724601276% no-repeat;
}

.svg-sendEmail-dims {
	width: 46.579px;
	height: 34.57px;
}

