.svg-goDown {
	background: url(svg/sprite.css-a90a1e14.svg) 68.24673300361455% 29.481132075471695% no-repeat;
}

.svg-goDown-dims {
	width: 43.313px;
	height: 26.496px;
}

.svg-journey__year {
	background: url(svg/sprite.css-a90a1e14.svg) 65.08541448058762% 55.37885874649205% no-repeat;
}

.svg-journey__year-dims {
	width: 42.875px;
	height: 18.375px;
}

.svg-logo_cuc {
	background: url(svg/sprite.css-a90a1e14.svg) 0 99.43429945848617% no-repeat;
}

.svg-logo_cuc-dims {
	width: 77.533px;
	height: 77.579px;
}

.svg-logo_dajie {
	background: url(svg/sprite.css-a90a1e14.svg) 0 0 no-repeat;
}

.svg-logo_dajie-dims {
	width: 81px;
	height: 37px;
}

.svg-nextStop_blcok {
	background: url(svg/sprite.css-a90a1e14.svg) 0 32.17391304347826% no-repeat;
}

.svg-nextStop_blcok-dims {
	width: 81px;
	height: 37px;
}

.svg-year_block {
	background: url(svg/sprite.css-a90a1e14.svg) 100% 0 no-repeat;
}

.svg-year_block-dims {
	width: 81px;
	height: 37px;
}

