section#intro
  .wrap--outer
    .wrap--inner
      .container.clearfix
        h1.left.half Hi, I'm GG!
        p.right.half A self-motivated UX & UI Designer with a great passion on creating  products that solve real-world problems and make our life easier.
          a.svg-goDown.svg-goDown-dims.sprite(href="#journey")
