section#journey
  .wrap--outer
    .wrap--inner
      h1.section--title Journey for digital media
    .journey__container
        .journey__year
          .wrap--inner
             p.svg-journey__year.svg-journey__year-dims 2007
        //- 1     
        .journey__single
          .wrap--inner.clearfix
            
            a(href="http://www.cuc.edu.cn/en2/cuc.htm" target="_blank" title="Visit the university's website").svg-logo_cuc.svg-logo_cuc-dims.sprite.sprite__logo.right
            .left
              p.journey__meta
                span.journey__period Sept 2007 - June 2011
                strong.journey__length 4 Years
                span.journey__location Beijing
              h2 B.A Digital Media Art at 
                a(href="http://www.cuc.edu.cn/en2/cuc.htm" target="_blank" title="Visit the university's website") The Communication University of China
              .journey_details--toggle
                .journey_details--btn
                  span.line1
                  span.line2
                span details
              .journey__details--content
                ul
                  li Took courses on graphic design fundamentals, web development, digital animation..etc
                  li Worked on various student interactive projects
                  li Awarded as the Excellent Individual of 2010 Summer Social Practice of Beijing
        
        .journey__year
          .wrap--inner
             p.svg-journey__year.svg-journey__year-dims 2011
        
        //- 2             
        .journey__single
          .wrap--inner.clearfix
            
            a(href="http://dajie.com/" target="_blank" title="Visit Dajie.com").svg-logo_dajie.svg-logo_dajie-dims.sprite.sprite__logo.right
            .left
              p.journey__meta
                span.journey__period June 2011 - Aug 2011
                strong.journey__length 2 Months
                span.journey__location Beijing
              h2 UI Designer (Intern) at 
                a(href="http://dajie.com/" target="_blank" title="Visit Dajie.com") Dajie.com (’The Linkedin’ in China)
              .journey_details--toggle
                .journey_details--btn
                  span.line1
                  span.line2
                span details
              .journey__details--content
                ul
                  li Designed customized enterprise pages for different clients. <br/>e.g. The Standard Chartered, Ericsson China
                  li Created vectors icons
                  
        .journey__year
          .wrap--inner
        
        //- 3
        .journey__single
          .wrap--inner.clearfix
            
            a(href="http://thecdm.ca/" target="_blank" title="Visit the Master Program's website").svg-logo_cdm.svg-logo_cdm-dims.sprite.sprite__logo.right
            .left
              p.journey__meta
                span.journey__period Sept 2011 - May 2013
                strong.journey__length 2 Years
                span.journey__location Vancouver
              h2 Master of Digital Media at 
                a(href="http://thecdm.ca/" target="_blank" title="Visit the Master Program's website") Centre for Digital Media
              .journey_details--toggle
                .journey_details--btn
                  span.line1
                  span.line2
                span details
              .journey__details--content
                ul
                  li Worked on industry projects for games
                  li Took courses on User Experience, Game Design, Storytelling and etc
        
        .journey__year
          .wrap--inner
             p.svg-journey__year.svg-journey__year-dims 2013
        
        .journey__year
         .wrap--inner
               
        //- 4        
        .journey__single
          .wrap--inner.clearfix
            
            a(href="http://fcvinteractive.com/" target="_blank" title="Visit the digital agency's website").svg-logo_fcv.svg-logo_fcv-dims.sprite.sprite__logo.right
            .left
              p.journey__meta
                span.journey__period Feb 2013 - May 2013
                strong.journey__length 2 Months
                span.journey__location Vancouver
              h2 UX Designer (Intern) at 
                a(href="http://fcvinteractive.com/" target="_blank" title="Visit the digital agency's website") FCV Interactive
              .journey_details--toggle
                .journey_details--btn
                  span.line1
                  span.line2
                span details
              .journey__details--content
                ul
                  li Participate in the overall process of workbc.ca website redesign
                  li Create & iterate most of the wireframes for the admin system of a data-heavy job bank
                  li Conduct research, analyze data, write user test report
        
        .journey__year
         .wrap--inner
                     
        //- 5        
        .journey__single
          .wrap--inner.clearfix
            
            a(href="http://ecdgraphics.com/" target="_blank" title="Visit the agency's website").svg-logo_ecd.svg-logo_ecd-dims.sprite.sprite__logo.right
            .left
              p.journey__meta
                span.journey__period Aug 2013 - Sept 2015
                strong.journey__length 2 Years
                span.journey__location Vancouver
              h2 UX / UI Designer (Full-time) at 
                a(href="http://ecdgraphics.com/" target="_blank" title="Visit the agency's website") ECD Graphics
              .journey_details--toggle
                .journey_details--btn
                  span.line1
                  span.line2
                span details
              .journey__details--content
                ul
                  li UX / UI design for 10+ client projects including responsive sites, comprehensive web platform, mobile apps and campaign sites
                  li Visual design for website banners, google ads, series of social media posts..etc
                  li Front-end development for 5+ responsive websites
                  li Site customization with Wordpress or Shopify

        .journey__year.journey__year--next
          .wrap--inner
             p.svg-nextStop_block.svg-nextStop_block-dims 2015
             h2 Next Stop?
       
        // - Next Stop Thoughts
        .journey__single.journey__nextStop
          .wrap--inner
             p Having worked on many projects with different clients, I was trained to work in a <strong>fast-paced multi-role</strong> environment and pick up new things quickly.
             
             p However, as a designer, I prefer to being <strong>dedicated</strong> to just 1 product instead of many. I enjoy the process of analyzing user feedbacks and rapidly iterating the product. 
             
             p So, my next stop, join a <strong>product-focused</strong> team as a dedicated <strong>UX / UI designer</strong> and create a beautiful product that the world will appreciate.
