section#works
  article.wrap--outer
    .wrap--inner
      h1.section--title.center Selected Works
  article.works__wrap
    .works__filters
    .works__all
      a(href="https://www.behance.net/gallery/29997331/A-comprehensive-web-platform-UX-design" title="" target="_blank")
        .works__img
          img(src="images/works/works_aeip.jpg")
        h3 AEIP Client Dashboard and CRM
        .works__labels
          span UX design
          span Front-end
      
      a(href="https://www.behance.net/gallery/30586867/Mobile-App-UI-UX-Design-(Canadian-Citizenship-Test-App)" title="" target="_blank")
        .works__img
          img(src="images/works/works_vcrc.jpg")
        h3 Canadian Citizenship Exam App
        .works__labels
          span UX design
          span UI design
      
      a(href="https://www.behance.net/gallery/29989937/Mobile-Game-UI-Design-Dramatic-Chipmunk" title="" target="_blank")
        .works__img
          img(src="images/works/works_dramatic_chipmunk.jpg")
        h3 Dramatic Chipmunk Mobile Game
        .works__labels
          span UI Design
          span UX Design
      
      a(href="https://www.behance.net/gallery/30554337/%08One-Page-Responsive-Website-For-A-Restaurant" title="" target="_blank")
        .works__img
          img(src="images/works/works_cheftony.jpg")
        h3 Chef Tony Seafood Restaurant Website
        .works__labels
          span UX Design
          span UI Design
          span Front-end
          
          
      a(href="https://www.behance.net/gallery/30759973/Sick-Flower-A-mobile-app-prototype" title="" target="_blank")
        .works__img
          img(src="images/works/works_sickflower.jpg")
        h3 Sick Flower Mobile App Prototype
        .works__labels
          span UX Design
          span UI Design
      
      a(href="https://www.behance.net/gallery/30091449/Online-Campaign-Design-Refer-a-Friend" title="" target="_blank")
        .works__img
          img(src="images/works/works_vbce.jpg")
        h3 VBCE Online Web Campain
        .works__labels
          span UI Design
          span Front-end
          
          
      
      a(href="http://ayco.ca/" title="Visit the website" target="_blank")
        .works__img
          img(src="images/works/works_ayco.jpg")
        h3 AYCO Chartered Accountants Firm Website
        .works__labels
          span UX Design
          span Front-end
          
      
      

      a(href="http://loveforlashes.ca/" title="Visit the website" target="_blank")
        .works__img
          img(src="images/works/works_loveforlashes.jpg")
        h3 Love for Lashes Shopify Site
        .works__labels
          span UX Design
          span Front-end
          
      a(href="http://speakenglishin10days.com/ch.html" title="Visit the website" target="_blank")
        .works__img
          img(src="images/works/works_SpeakEnglishin10Days.jpg")
        h3 Speak English in 10 Days Book & Website
        .works__labels
          span Graphic Design
          span Layout Design
          span UI Design
          span Front-end
          
          
      //- a(href="http://newbeginningscanada.ca/" title="Visit the website" target="_blank")
      //-   .works__img
      //-     img(src="images/works/works_newbeginning.jpg")
      //-   h3 New Beginning Website
      //-   .works__labels
      //-     span Front-end
      //- 
      //- 
      //- a(href="https://www.behance.net/gallery/30557783/Social-Media-Posts-Hair-Concealer-Product" title="" target="_blank")
      //-   .works__img
      //-     img(src="images/works/works_forila.jpg")
      //-   h3 Forila Social Media Campaign
      //-   .works__labels
      //-     span Graphic Design
      //-     span Online Marketing
      //-     
      //-     
      //-     
      //- a(href="http://letitbehealth.com/" title="Visit the website" target="_blank")
      //-   .works__img
      //-     img(src="images/works/works_letitbe.jpg")
      //-   h3 Let it be.Health Website
      //-   .works__labels
      //-     span UX Design
      //-     span UI Design
      //-     span Front-end
  .center
    a.btn(href="https://www.behance.net/Yanyi_GG" title="View more works") View more works
