section#works
  article.wrap--outer
    .wrap--inner
      h1.section--title.center Selected Works
  article.works__wrap
    .works__filters
    .works__all
      a
        img(src="images/works/works_aeip.jpg")
        h3 VBCE Online Web Campain
        .works__labels
          span Web Design
          span Front-end
      
      a
        img(src="images/works/works_dramatic_chipmunk.jpg")
        h3 VBCE Online Web Campain
        .works__labels
          span Web Design
          span Front-end
      
      a
        img(src="images/works/works_vcrc.jpg")
        h3 VBCE Online Web Campain
        .works__labels
          span Web Design
          span Front-end
      
      a
        img(src="images/works/works_dramatic_chipmunk.jpg")
        h3 VBCE Online Web Campain
        .works__labels
          span Web Design
          span Front-end
      
      a
        img(src="images/works/works_vcrc.jpg")
        h3 VBCE Online Web Campain
        .works__labels
          span Web Design
          span Front-end
          
      a
        img(src="images/works/works_aeip.jpg")
        h3 VBCE Online Web Campain
        .works__labels
          span Web Design
          span Front-end
