section#skills
  .wrap--inner
    h1.section--title.center Skills & Recommedations
    article.skills__single
      .wrap--inner
        h2 UX / UI Design
        .skills__single--container.clearfix
          .left.half
            ul.skills__bars
              li
                p Wireframe
                .skill__bar
                  .skill__bar_bg
                  .skill__bar_percentage
              li
                p Rapid prototype
                .skill__bar
                  .skill__bar_bg
                  .skill__bar_percentage
              li
                p Usability test
                .skill__bar
                  .skill__bar_bg
                  .skill__bar_percentage
              li
                p User research
                .skill__bar
                  .skill__bar_bg
                  .skill__bar_percentage
              li
                p Statistical analysis
                .skill__bar
                  .skill__bar_bg
                  .skill__bar_percentage
              li
                p Visual design
                .skill__bar
                  .skill__bar_bg
                  .skill__bar_percentage
              li
                p Motion graphics
                .skill__bar
                  .skill__bar_bg
                  .skill__bar_percentage

            
              
          .right.half
            ul.skills_reviews_control
              li 1
              li 2
              li 3
            
            ul.skills_reviews_all
              li.skills__review_single
                .skills__quote__meta
                  h4 Warren Anthony
                  h5 VP User Experience at FCV, April 2013
                blockquote Glory has solid foundational User Experience Design skills and a strong desire to work in this field. She worked on a wide range of live projects from initiation to delivery, including client kickoffs, collaborative design sessions, wireframing and prototyping (on paper and using Axure), content auditing and content analysis. <br/><br/>She's got a fantastic attitude, and is a hard working team-player, with an eye for the fine details of complex web application interface design.
                
              li.skills__review_single
                .skills__quote__meta
                  h4 Kirsten Hall
                  h5 User Experience Consultant at FCV, April 2013
                blockquote Gloria was a key contributor to the UI design of a sophisticated administration system for our client. She was able to synthesize complex business and user requirements and propose innovative and effective interactions for this new system.

              li.skills__review_single
                .skills__quote__meta
                  h4 Andy Liu
                  h5 User Experience Designer at FCV, April 2013
                blockquote Glory helped our team on a site-redesign project for a major client, she contributed on the both initial design research and interaction design process. As a researcher, her detail-driven insights helped our team to focus on providing industry best pracices on UI design pattern. As an interaction designer, her focus on details and logical thinking skills helped us in the actual design process. <br/><br/>Glory is a active team player with a good eye on detailed design, and she is never lack of creativity.
                
            
              
    article.skills__single
      .wrap--inner
        h2 Web Development
        .skills__single--container.clearfix
          .left.half
            ul.skills__bars
              li
                p HTML5
                .skill__bar
                  .skill__bar_bg
                  .skill__bar_percentage
              li
                p CSS3 (SASS)
                .skill__bar
                  .skill__bar_bg
                  .skill__bar_percentage
              li
                p jQuery
                .skill__bar
                  .skill__bar_bg
                  .skill__bar_percentage
              li
                p Gulp, Jade, Github
                .skill__bar
                  .skill__bar_bg
                  .skill__bar_percentage
              li
                p Wordpress
                .skill__bar
                  .skill__bar_bg
                  .skill__bar_percentage
              
            
              
          .right.half
            //- ul.skills_reviews_control
            //-   li 1
            //-   li 2
            //-   li 3
            .skills__quote__meta
              h4 Valencia Yu
              h5 Web Team Lead at ECD Graphics
            blockquote Glory contributed in creating website architecture and flow, wireframes, mockups and front-end coding on various key projects for ECD. Her passion in providing great user experience and her willingness to learn new technology are inspirational for the team.<br/><br/>We are sad to see her leave ECD but her versatility and passion will be an asset for any company she works for.
            
