section#skills
  .wrap--inner
    h1.section--title.center Skills & Recommedations
    article.skills__single
      .wrap--inner
        h2 UX / UI Design
        .skills__single--container.clearfix
          .left.half
            ul.skills__bars
              li
                p Wireframe
                .skill__bar
                  .skill__bar_bg
                  .skill__bar_percentage
              li
                p Rapid prototype
                .skill__bar
                  .skill__bar_bg
                  .skill__bar_percentage
              li
                p Usability test
                .skill__bar
                  .skill__bar_bg
                  .skill__bar_percentage
              li
                p User research
                .skill__bar
                  .skill__bar_bg
                  .skill__bar_percentage
              li
                p Statistical analysis
                .skill__bar
                  .skill__bar_bg
                  .skill__bar_percentage
              li
                p Visual design
                .skill__bar
                  .skill__bar_bg
                  .skill__bar_percentage
              li
                p Motion graphics
                .skill__bar
                  .skill__bar_bg
                  .skill__bar_percentage

            
              
          .right.half
            blockquote Gloria was a key contributor to the UI design of a sophisticated administration system for our client. She was able to synthesize complex business and user requirements and propose innovative and effective interactions for this new system.
            .skills__quote__meta
              h4 Kirsten Hall
              h5 User Experience Consultant
              p Related Project: WorkBC
    article.skills__single
      .wrap--inner
        h2 Web Development
        .skills__single--container.clearfix
          .left.half
            ul.skills__bars
              li
                p HTML5
                .skill__bar
                  .skill__bar_bg
                  .skill__bar_percentage
              li
                p CSS3 (SASS)
                .skill__bar
                  .skill__bar_bg
                  .skill__bar_percentage
              li
                p jQuery
                .skill__bar
                  .skill__bar_bg
                  .skill__bar_percentage
              li
                p Gulp, Jade
                .skill__bar
                  .skill__bar_bg
                  .skill__bar_percentage
              li
                p Wordpress
                .skill__bar
                  .skill__bar_bg
                  .skill__bar_percentage
              
            
              
          .right.half
            blockquote Gloria was a key contributor to the UI design of a sophisticated administration system for our client. She was able to synthesize complex business and user requirements and propose innovative and effective interactions for this new system.
            .skills__quote__meta
              h4 Valencia Yu
              h5 Web Team Lead at ECD Graphics
