section#contact
  article.contact__links
    a.half.contact__behance(href="http://www.behance.net/Yanyi_GG" title="Check out my works on Behance.net" target="_blank")
      .contact__links--bg
      .contact__links-container
        p Check out all my works and stay tuned!
        .svg-behance.svg-behance-dims.sprite
    a.half.contact__linkedin(href="https://ca.linkedin.com/in/glorygong" title="Connect with me on Linkedin" target="_blank")
      .contact__links--bg
      .contact__links-container
        p Do we have connections in common?
        .svg-linkedin.svg-linkedin-dims.sprite
  article.contact__email.center
      a.svg-sendEmail-dims.svg-sendEmail.sprite(href="mailto:gg.yanyi.gong@gmail.com" title="Send me an Email!") 
      span gg.yanyi.gong@gmail.com
  article.site__note.center
      p Site designed and built by myselft with HTML5, CSS3, JQuery, Gulp, Jade
