doctype html
html(lang="en")
  include 0_head.jade
  body
    include 1_intro.jade
    include 2_journey.jade  
    include 3_works.jade  
    include 4_skills.jade  
    include 5_contact.jade      
    include footer.jade
