html{
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
  font-size:.625em;
  @include tablet{
    font-size:.6em;
  }
  @include phone{
    font-size:.5em;
  }
}

body{
}
*{
  margin:0;
  padding:0;
  position:relative;
}

*, *:before, *:after {
  box-sizing: inherit;
}
h1,h2,h3,h4,h5{
  font-family: 'Roboto Slab', serif;
}
h1{
  font-weight: 700;
}
h2{
  font-weight: 400;
}
p{
  font-weight: 300;
  line-height: 1.8em;
}
a{
  text-decoration: none;
  color:inherit;
  opacity:1;
  transition:opacity $duration ease-in-out;
  cursor:pointer;
  &:hover{
    opacity:.5;
  }
}
.half{
  width:50%;
  @include phone{
    width:100%;
  }
}
.left{
  float:left;
}
.right{
  float:right;
}
.left,
.right{
  @include phone{
    float:none;
  }
}
.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
* html .clearfix { height: 1%; }
.clearfix { display: block; }

.wrap--outer{
  width:$desktop-width;
  margin:0 auto;
  @include tablet{
    width:100%;
  }
}
.wrap--inner{
  width:82%;
  max-width:720px;
  margin:0 auto;
  padding:0 $padding_narrow;
}
.sprite{
  display:inline-block;
  max-width:100%;
}

.section--title{
  color:$green;
  font-size:2.2rem;
  line-height: 4rem;
  padding:2em $padding_narrow .6em;
}
.center{
  text-align: center;
}
.fullwidth__withpadding{
  padding-left:$padding_narrow;
  padding-right:$padding_narrow;
}

.btn{
  display:inline-block;
  border-bottom: 1px dashed $grey;
  margin:2em 0;
  text-transform: uppercase;
  font-weight: 400;
  font-size:1.6rem;
  letter-spacing: .3rem;
  transition: .2s ease-in-out;
  padding-bottom: $padding_narrow;
  &:hover{
    opacity:1;
    border-color:$darkgrey;
  }
}
