#intro{
  color:$grey;
  overflow:hidden;
  opacity:0;
  height:100vh;
  transition: .6s ease-in-out;
  &.loaded{
    opacity: 1;
    height:85%;
    height:85vh;
    // max-height:500px;
  }
  .wrap--outer{
    height:100%;
    width:100%;
  }
  .wrap--outer__upperlayer,
  .wrap--outer__underlayer{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    width:100%;
    height:100%;
    position: absolute;
    z-index:-1;
    top:0;
    border-radius:$radius;
  }
  .wrap--outer__upperlayer{
    background-image:url('../images/hi_imGG_bg--green.jpg');
    opacity:0;
  }
  .wrap--outer__underlayer{
    background-image:url('../images/hi_imGG_bg--normal.jpg');
  }
  .wrap--inner{
    height:100%;
    border-left:1px dashed $grey;
    border-right:1px dashed $grey;
  }
  .container,
  .wrap--outer__upperlayer,
  .svg-goDown{
    transition:.4s ease-in-out;
  }
  .container{
    height:200px;
    @include vertical-center;
    top:-180%;
    opacity:.4;
  }
  .left{
    padding-left:2rem;
  }
  .right{
    padding-right:2rem;
  }
  .half{
    @include tablet{
      padding-right:1rem;
      padding-left:0;
    }
    @include phone{
      width:100%;
      padding:0 1rem;
    }
  }
  h1{
    font-size:6em;
  }
  p{
    font-size:2rem;
  }
  .svg-goDown{
    @include vertical-center();
    bottom:2em;
    left:0;
    right:0;
    top:auto;
  }
  .wrap--outer.loaded{
    .container{
      top:0;
      opacity:1;
    }
    .wrap--outer__upperlayer{
      opacity:1;
    }

  }
}
