#intro{
  height:85%;
  height:85vh;
  // max-height:500px;
  color:$grey;
  overflow:hidden;
  .wrap--outer{
    height:100%;
    width:100%;
  }
  .wrap--outer__upperlayer,
  .wrap--outer__underlayer{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    width:100%;
    height:100%;
    position: absolute;
    z-index:-1;
    top:0;
    border-radius:$radius;
  }
  .wrap--outer__upperlayer{
    background-image:url('../images/hi_imGG_bg--green.jpg');
    opacity:0;
  }
  .wrap--outer__underlayer{
    background-image:url('../images/hi_imGG_bg--normal.jpg');
  }
  .wrap--inner{
    height:100%;
    border-left:1px dashed $grey;
    border-right:1px dashed $grey;
  }
  .container,
  .wrap--outer__upperlayer{
    transition:.4s ease-in-out;
  }
  .container{
    height:200px;
    @include vertical-center;
    top:-200%;
    opacity:.4;
  }
  .left{
    padding-left:2rem;
  }
  .right{
    padding-right:2rem;
  }
  .half{
    @include tablet{
      padding-right:1rem;
      padding-left:0;
    }
    @include phone{
      width:100%;
      padding:0 1rem;
    }
  }
  h1{
    font-size:6em;
  }
  p{
    font-size:2rem;
  }
  .svg-goDown{
    margin:3em 0 1em;
    @include phone{
      margin-left:auto;
      margin-right:auto;
    }
  }
  &.loaded{
    .container{
      top:0;
      opacity:1;
    }
    .wrap--outer__upperlayer{
      opacity:1;
    }

  }
}
