#intro{
  height:80vh;
  color:$grey;
  .wrap--outer{
    background-color:green;
    background-image:url('../images/hi_imGG_bg--green.jpg');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    height:100%;
  }
  .wrap--inner{
    height:100%;
  }
  .container{
    height:200px;
    @include vertical-center;
  }
  h1{
    font-size:6em;
  }
  p{
    font-size:2rem;
  }
  .svg-goDown{
    margin:2em 0 1em;
    @include phone{
      margin-left:auto;
      margin-right:auto;
    }
  }
}
