html{
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
}
body{
  font-size:1.6em;
}
*{
  margin:0;
  padding:0;
  position:relative;
}

*, *:before, *:after {
  box-sizing: inherit;
}
h1{
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
}
p{
  font-weight: 300;
  line-height: 1.8em;
}
.half{
  width:50%;
  @include phone{
    width:100%;
  }
}
.left{
  float:left;
}
.right{
  float:right;
}
.left,
.right{
  @include phone{
    float:none;
  }
}
.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
* html .clearfix { height: 1%; }
.clearfix { display: block; }

.wrap--outer{
  width:1024px;
  margin:0 auto;
  @include tablet{
    width:100%;
  }
}
.wrap--inner{
  width:90%;
  margin:0 auto;
  padding:0 .3em;
  border-left:1px dashed $grey;
  border-right:1px dashed $grey;
}
